
@{
    ViewBag.Title = "About";
}

@Html.Partial("_Navbar")

<div class="container mt-3 d-flex align-items-center">
    <div class="row bg-white ">
        <div class="col-md-12 d-flex align-items-center justify-content-center flex-column p-3 rounded gap-3 text-center ">
            <h2 class="text-primary">About us</h2>
            <p class="text-start fs-5">
                Homent  is a real-estate platform that makes it possible to rent a house without paying any brokerage. We developed this project because we believed that paying brokerage can not be the only option to find a new home. As tenants, we have to pay these brokerages to the broker.The only reason this happing is because there is huge information asymmetry in the market.
                Homent is a platform that remove this information asymmetry and provides a marketplace for free exchange of this information for free at all.
            </p>
            <div class="about-us-images d-flex flex-column flex-md-row">
                <img src="~/Content/Images/location.gif" class="img-fluid" />
                <img src="~/Content/Images/contact-owner.gif" class="img-fluid" />
            </div>
        </div>
        <div class="container-fluid text-center">
            <p>&copy; Homent 2022 v1.0.0</p>
        </div>
    </div>
</div>



